body {
    background-color: orange;
    color: red;
}


ul {
    color: blue;
}

li {
    border: 5px solid red;
}

#special {
    background-color: pink;
    color: green;
}

.completed {
    text-decoration: line-through;
    color: yellow;
}